body {
  color:white;
  background-color: #232323;
}

small {
  font-size: 13px;
}

.border {
  padding: 20px;
}

.box {
  border: 1px solid;
  border-color: white;
  padding: 20px;
  box-shadow: 2px 7px #FFFFFF;
}

a {
  color: #00c8ff;
}

.darker {
  background-color: #232323;
  color:white;
}

h3 {
  color:white;
}
