body {
  color:white;
}

small {
  font-size: 13px;
}

.border {
  padding: 20px;
}

.box {
  border: 1px solid;
  border-color: white;
  padding: 20px;
  box-shadow: 4px 9px #FFFFFF;
}

a {
  color: #0098ff;
}

.darker {
  background-color: #232323;
}

h3 {
  color:white;
}
